<div class="product" *ngFor="let product of products$ | async">
  <h3 class="product-title">{{ product?.name }}</h3>

  <div>
    <img [src]="product?.path" alt="product image">
  </div>

  <p class="description">{{ product?.description }}</p>

  <p class="price">
    <span>Price: </span>
    <span>{{ product?.price }}$</span>
  </p>

  <div class="quantity">
    <p class="quantity-title">Qty:</p>
    <div>
      <button mat-mini-fab
              color="accent"
              class="circle-btn"
              (click)="addQuantity()">+
      </button>
      <span class="qty-number">{{ counter }}</span>
      <button mat-mini-fab
              color="accent"
              class="circle-btn"
              (click)="deleteQuantity()"
              [disabled]="!counter">-
      </button>
    </div>
  </div>

  <ng-container *ngIf="{ quantity: productQuantityInCart$ | async } as cart">
    <button class="btn"
            type="submit"
            mat-stroked-button
            [disabled]="!counter"
            (click)="onAddProductToCart(cart.quantity)">Add To Cart
    </button>

    <button mat-raised-button
            color="primary"
            class="checkout-btn"
            (click)="onCheckout()"
            [disabled]="!cart.quantity">Checkout
    </button>
  </ng-container>
</div>
