<div class="sign-in-container">
  <h2 class="title">Login</h2>

  <form (ngSubmit)="onSubmit()" [formGroup]="signInForm">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Please fill email field" formControlName="email">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Please fill password field" formControlName="password">
    </mat-form-field>

    <button class="btn" type="submit" mat-stroked-button>Login</button>
  </form>
</div>
